.form{
  margin: 1rem auto 2.5rem;
  input{
    padding: 5px 10px;
    outline: none;
    transition: border-color .2s ease;
    border: .15rem solid transparent;
    border-radius: .1rem;
    margin-bottom: .5em;
    display: block;
    &:focus{
      border-color: coral;
    }
  }
}
.btn{
  display: block;
  padding: .5rem 2rem;
  border: none;
  outline: none;
  margin-top: 1rem;
  border-radius: .3rem;
  transition: all .5s ease;
  &:hover{
    background-color: deepskyblue;
  }
}
